*{
  box-sizing:border-box;
}
body{
  color: #222
}
img{
  max-width:100%
}
main{
  padding: 13px;
  max-width: 800px;
  margin: 0 auto;
}
header{
  display: flex;
    margin-top: 13px;
  justify-content: space-between;
  margin-bottom: 50px;
}
header a{
  text-decoration: none;
  color: inherit;
  align-items: center;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 20px;
}
div.post{
  display: grid;
  grid-template-columns: 1.3fr 1.1fr;
  gap:20px;
  margin-bottom: 30px;
}
div.post div.texts h2{
  margin: 0;
  font-size: 1.8rem;
}
div.post p.info{
  margin: 6px 0;
  color: #888;
  font-size: .9rem;
  font-weight: bold;
  display: flex;
  gap: 12px
}
div.post p.info a.author{
  color: #333;
  font-family: arial;
}
div.post p.summary{
  margin: 7px 0;
  line-height: 1.35rem;

}
form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}
input{
  display: block;
  margin-bottom: 5px;
  width: 80%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  background-color: #fff;
  border-radius: 8px;

}
button{
  width: 80%;
  display: block;
  background-color: #777;
  border: 0;
  color: #fff;
  border-radius: 6px;
  padding: 7px 0px;
  
}
h1{
  /* text-align: center; */
  font-family: 'Segoe UI';

}